@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); /*'Comic Neue' font*/

body {
    background-color: #1d1e23;
    text-align: center;
    font-family: "Comic Neue", cursive;
    color: white;
}

video {
    width: 60%;
    border: 10px solid darkred;
    margin-bottom: 20px;
}
a {color: darkorange; text-decoration: none; margin: 0 10px;} /*no underline, orange link*/
a:hover{color: darkred} /*link is red on hover*/