@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); /*'Averia Serif Libre'*/
body{
    font-family: 'Averia Serif Libre', serif;
    text-align: center;
    background-color: #dbd4c2;
}
.title {color:#55372c;} /*'Bread' color*/
.flex {display: flex;} /*aligning images horizontally*/

/*==========figcaptions==========*/
figcaption {
    text-align: center;
    margin-top: 30px;
}
.captions {/*for img captions*/
    font-size: 24px;
    display: block; /*so no need for <br> after caption*/
    margin-bottom: 10px;
}
a{/*link format*/
    color: #C0A077;
    text-decoration: none; /*remove underline*/
    transition: 0.2s; /*so size change is smooth on hover*/
}
a:hover{/*link when hovered*/
    color: #976532;
    font-size: 16px; /*increase font size*/
}

h1 {
    font-size: 40px; /*increase size*/
    animation: title-appear 1.5s; /*animation-name, duration*/
}
img {width: 100%;} /*adjusting full size of image to not exceed the div*/

/*==========image filters==========*/
.left {/*filters for left img*/
    /*shadow is at bot-left, contrast made it look cloudy, lessened saturation*/
    filter: drop-shadow(-20px 20px 30px #876C50) contrast(80%) saturate(80%); 
}
.mid {/*filters for middle img*/
    /*shadow is at bot, contrast made it look cloudy, lessened saturation*/
    filter: drop-shadow(0 20px 30px #876C50) contrast(80%) saturate(70%);
}
.right {/*filters for right img*/
    /*shadow is at bot-right, contrast made it look cloudy, lessened saturation*/
    filter: drop-shadow(20px 20px 30px #876C50) contrast(80%) saturate(70%); 
}

/*==========for div (so figcaptions are included in animation)==========*/
#left {animation: appear 2s;} /*left img*/
#mid {/*middle img*/
    opacity: 0; /*so it's invisible upon load*/
    animation: appear 2s 0.5s; /*animation-name, duration, delay (after left img)*/
    animation-fill-mode: forwards; /*so img will not revert to 0 opacity*/
}
#right {
    opacity: 0; /*so it's invisible upon load*/
    animation: appear 2s 1s; /*animation-name, duration, delay (after mid img)*/
    animation-fill-mode: forwards; /*so img will not revert to 0 opacity*/
}

/*==========animations==========*/
@keyframes appear {/*image will fade-in while floating up*/
    from {opacity: 0; transform: translate(0,30px);} /*starts image with 0 opacity and position lower than its final position*/
    to {opacity: 100%; transform: translate(0,0);} /*image will be fully opaque and at the intended position*/
}
@keyframes title-appear {
    from {opacity: 0; transform: translate(0,-30px);} /*starts title with 0 opacity and position higher than its final position*/
    to {opacity: 100%; transform: translate(0,0);} /*title will be fully opaque and at the intended position*/
}

hr {/*change hr appearance*/
    border: 1px solid #55372c; 
    width: 500px; /*make it short*/
    margin-top: 100px;
    margin-bottom: 30px;
}
footer {margin-bottom: 30px;}